.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    position: relative;
    z-index: 1300;
}

.profileBox {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.profileBox button {
    font-family: "DailyNews";
    font-size: 1.2em;
    margin-top: 10px;
    width: 150px;
    background-color: #93100D;
}
.profileBox button:hover {
    background-color: #93100D;
    filter: brightness(0.8);
}