.mapPins {
    position: relative;
    width: 100%;
    height: 90vh;
    z-index: 900;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapPins button[name="bank"]{
    top:35%;
    left:3%;
    color: transparent;
}

.mapPins button[name="rank"]{
    top:8%;
    right:2.2%;
    color: transparent;
}

.mapPins button[name="diner"]{
    top:15%;
    left: 0.9%;
    color: transparent;
}


.mapPins button[name="grocery"]{
    top:38%;
    left:2.5%;
    color: transparent;

}

.mapPins button[name="barber"]{
    top:2%;
    right:0.5%;
    color: transparent;

}