@font-face {
    font-family: "Montserrat SemiBold";
    src: local("Montserrat SemiBold"), url("../public/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../public/assets/fonts/CourierPrime-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: local("Montserrat Bold"), url("../public/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Medium";
    src: local("Montserrat Medium"), url("../public/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Light";
    src: local("Montserrat Light"), url("../public/assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Courier";
    src: local("Courier"), url("../public/assets/fonts/CourierPrime-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Corleone";
    src: local("Corleone"), url("../public/assets/fonts/Corleone.ttf") format("truetype");
}

@font-face {
    font-family: "DailyNews";
    src: local("DailyNews1915"), url("../public/assets/fonts/DailyNews1915.ttf") format("truetype");
}

@font-face {
    font-family: "OldNewspaperTypes";
    src: local("OldNewspaperTypes"), url("../public/assets/fonts/OldNewspaperTypes.ttf") format("truetype");
}

